
DATABASE_URL="postgresql://neondb_owner:npg_algLqp4rMs0F@ep-super-poetry-abs3sm6b-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"

# Stack Auth
NEXT_PUBLIC_STACK_PROJECT_ID="b2ae9dab-22f0-452c-8b19-92d6d3535923"
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY="pck_b1dk34c861ev93zpwamdcqnh4n9jntemrqf02vv3v32zg"
STACK_SECRET_SERVER_KEY="ssk_z9918mb29g28f1j4g4d9mepccjq1pxxg2rjha14shtbw0"
